section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f2f2f2;
  text-align: justify;
  padding-top: 5em;
}

h1 {
  font-size: 40px;
  padding: 40px;
  font-weight: 200; 
}

.fotos {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 10em;
}

#foto1 {
  margin-left: auto;
  margin-right: auto;
  width: 90%
}

#foto2 {
  margin-left: auto;
  margin-right: auto;
  width: 90%
}

.texto {
  width: 50%;
}

div h2 {
  font-size: 22px;
  font-weight: 100;
  padding-left: 40px;
}

div p {
  color: gray;
  font-weight: 100;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 20px;
  line-height: 25px;
}

